<div id="app-wrapper" class="_container">

  <form [formGroup]="initForm" *ngIf="!uci && !app"> <!--*ngIf="!showApp"-->
    <h4 style="margin-bottom: 10px;">Dynamic App</h4>
    <div class="form-group">
      <label>UCI</label>
      <input formControlName="uci" />
    </div>
    <div class="form-group">
      <label>App</label>
      <input formControlName="app" />
    </div>
    <button (click)="go()">Go</button>

  </form>
  
  <dynamic-app *ngIf="showApp" [appKey]="initForm.controls['app'].value" [appUci]="initForm.controls['uci'].value" [appParams]="" [isRtl]="true"></dynamic-app> 
  
  <p>Job: {{ job }}</p>

</div>
